@model KontentAiModels.InternalLink

@{
    object link = null;
    var item = @Model.Target.First();

    switch (@item.GetType().Name)
    {
        case "Page":
            Page page = (Page)item;
            link = @Html.ActionLink(@Model.Label, "Show", "Spotlight", new { id = page.Url });
            break;
        case "Article":
            Article article = (Article)item;
            link = @Html.ActionLink(@Model.Label, "Show", "Articles", new { urlSlug = article.UrlPattern });
            break;
        case "Coffee":
            Coffee coffee = (Coffee)item;
            link = @Html.ActionLink(@Model.Label, "Detail", "Product", new { urlSlug = coffee.UrlPattern });
            break;
        default:
            link = @Html.ActionLink(@Model.Label, "NotFound", "Errors");
            break;
    }

    <div>@link</div>
}
